* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none !important;
	/* list-style: none !important; */
	outline: none !important;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	color: #777777;
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	height: 100%;
	overflow-x: hidden;
}
a {
	text-decoration: none !important;
	color: #099278;
}
a:hover {
	color: #21779C;
}
p a {
	color: #099278 !important;
}
p a:hover {
	color: #21779C !important;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
span, a {
	display: inline-block;
	color: inherit;
}
h1, h2, h3, h4, h5, h6 {
	color: #151515;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	margin: 0;
}
p {
	line-height: 1.6;
	font-weight: 400;
	margin: 0;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 26px;
}
h5 {
	font-size: 15px;
}
h6 {
	font-size: 13px;
}
h4 {
	font-weight: 400;
}
h6 {
	font-weight: bold;
}
.navbar {
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
	line-height: 50px;
	background: transparent;
	z-index: 1030;
}
.navbar .active {
	color: #099278 !important;
}
.navbar .navbar-brand {
}
.navbar .nav-item {
	margin: 0 5px;
	padding: 0;
}
.navbar .nav-item a {
	color: #ffffff;
	font-weight: 300;
}
.navbar .nav-link {
	position: relative;
	padding: 0;
}
.navbar .navbar-toggler {
	cursor: pointer;
}
.navbar .navbar-toggler span {
	color: #fff;
}
.navbar-style2 .active:after, .navbar-style2 .nav-link:after {
	display: none;
}
.nav-scroll {
	background: #fff;
	-webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}
.nav-scroll .navbar-nav > li > a {
	color: #333;
}
.nav-scroll .navbar-brand img {
	-webkit-transform: scale(1.0) !important;
	transform: scale(1.0) !important;
}
.nav-scroll .navbar-toggler {
	cursor: pointer;
}
.nav-scroll .navbar-toggler span {
	color: #333;
}
.nav-scroll .nav-link:hover:after {
	background-color: #2388ed;
}
.nav-scroll .active {
	position: relative;
}
.nav-last {
	padding-right: 15px !important;
}
.donate-btn {
	background:#21779C;
	color: #ffffff !important;
	padding: 0px 20px;
	border-radius: 15px;
}
.donate-btn:hover {
	background: #099278;
	color: #ffffff !important;
}
.donate-paypal {
	padding: 15px 20px;
	margin: 20px 0px 30px 0px;
}
.banner {
	background:url(images/makespace-exterior.jpg) no-repeat center center;
	background-size: cover;
	color:#ffffff;
	text-align: center;
	width: 100%;
}
.our-team {
	background:url(images/people-reduced.jpg) no-repeat left top;
		background-size: cover;	width: 100%;
}
.covid-banner {
	background:url(images/covid-header.jpg) no-repeat left top;
		background-size: cover;	width: 100%;
}
.equity-banner {
	background:url(images/reading-group.jpg) no-repeat left center;
		background-size: cover;	width: 100%;
}
.banner-overlay {
	 background:linear-gradient(to bottom, rgba(33,119,156, 0.36) 0%, rgba(9,146,120,.80) 100%);
	padding:220px 0px 170px;
}
.banner h1, .banner h4 {
	margin-bottom: 10px;
	color:#ffffff;
}
.banner p {
	margin:25px auto 15px;
	max-width: 670px
}
.banner-btn {
	background: #21779C;
	color: #ffffff !important;
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 30px;
	margin-top: 30px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.banner-btn:hover {
	background: #ffffff;
	color: #099278 !important;
}
.banner-btn-mobile {
	display:none;
}
.section-padding {
	padding: 70px 0px;
}
.section-title {
	padding-bottom: 50px;
}
.section-title h3 {
	color: #21779C;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 22px;
}
.covid h3 {
	text-transform: none;
	margin-bottom: -15px;
}

.covid p, .covid h4 {
	color: #000;
	text-align: left;
	margin-bottom: 10px;
}
.covid a {
	color: #099278;
}
.covid a:hover {
	color: #21779C;
}
.covid ul {
	margin-left: 40px;
	margin-bottom: 5px;
	padding:10px;
	font-size: 17px;
}
.section-title p {
	width: 60%;
	margin: 15px auto 20px;
}
.section-title-line {
	background: #ececec;
	content: "";
	height: 1px;
	position: absolute;
	left: calc(50% - 87px);
	width: 175px;
}
.section-title-line:after {
	background: #21779C;
	bottom: -1px;
	content: "";
	height: 2px;
	left: calc(50% - 22px);
	position: absolute;
	width: 45px;
}
.mb-30 {
	margin-bottom: 30px !important;
}
.mb-50 {
	margin-bottom: 50px !important;
}
.mb-100 {
	margin-bottom: 100px !important;
}
.mt-50 {
	margin-top: 50px !important;
}
.mt-100 {
	margin-bottom: 100px !important;
}
.pd-lt-10 {
	padding-left:10px;
}
.no-padding {
	padding: 0px !important;
}
.sub-title-paragraph {
}
.sub-title-paragraph h4 {
	margin-bottom: 5px;
}
.sub-title-paragraph h5 {
	color:#099278;
}
.sub-title-paragraph p {
	padding-top: 20px;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
}
.info {
	margin-top:10px;
	margin-bottom:0px;
}
.info p {
	padding-top:0px;
}
.anchor-btn {
	background: #099278;
	padding: 10px 20px;
	color: #ffffff !important;
	border-radius: 3px;
	margin-top: 30px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.anchor-btn:hover {
	background:#21779C;
	color: #ffffff !important;
}
.volunteer-btn {
	background:#21779C;
	color: #ffffff !important;
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 30px;
	margin-top: 30px;
	margin-bottom:20px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.volunteer-btn:hover {

		background: #099278;
	color: #ffffff !important;
}
.subscribe-btn {
	background:#21779C;
	color: #ffffff !important;
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 0px 15px 15px 0px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.subscribe-btn:hover {
		background: #099278;
	color: #ffffff !important;
}
.bg-grey {
	background-color: #f9f9f9;
}
.bg-white {
	background: #ffffff;
}
.service-box {
	padding: 50px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
	box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
}
.service-box .icon {
}
.service-box .icon i {
	font-size: 40px;
	color: #099278;
}
.supplies li {
	padding:4px;
}
.icon-text {
}
.icon-text h4 {
	font-size: 16px;
	font-weight: 600;
	margin: 10px 0px;
	position: relative;
	padding-bottom: 14px;
}
.icon-text h4:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 2px;
	background-color: #bcbcbc;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	left: calc(50% - 30px);
}
.icon-text p {
	line-height: 25px;
	font-weight: 300;
}
.bio-box {
		font-size: 13px;
	padding: 40px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
	box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
}
.bio-box h4 {
	font-size:24px;
}
.bio-box h4, .bio-box p {
	margin-top: 10px;
}
.portfolio .filtering {
	border-radius: 28px;
	margin: 0 auto;
	border: 1px dotted #e1e1e1;
}
.fundraiser {
	margin: 0 auto;
	text-align: center;
}
.fundraiser h3, h4, h5{
	margin-top:10px;
}
.calendar {
	margin: 0 auto;
}
.calendar p {
	display: none;
}
.calendar iframe {
	position:relative;
	/* margin: 0px 0px 20px 0px; */
	text-align: center;
}
.portfolio .filtering button {
	position: relative;
	top: -1px;
	font-size: 14px;
	font-weight: 400;
	padding: 10px 30px;
	letter-spacing: 2px;
	color: #777;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: none;
	border: 0;
}
.portfolio .filtering .active {
	background-color: #21779C;
	color: #fff;
	border-radius: 28px;
	-webkit-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
}
.portfolio .gallery {
	padding: 0;
	overflow: hidden;
	overflow: hidden !important;
	position: relative;
}
.portfolio .gallery .item-img {
	position: relative;
	overflow: hidden;
}
.portfolio .gallery .item-img a {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.portfolio .gallery .item-img .part-img {
	position: relative;
}
.portfolio .gallery .item-img .part-img img {
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio .gallery .item-img .part-img .overlay-img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.portfolio .gallery .item-img .part-img .overlay-img:after {
	content: '';
	position: absolute;
	left: -100%;
	top: 0;
	width: 100%;
	height: 50%;
	background: rgba(0, 0, 0, 0.8);
	-webkit-transition: all 150ms ease-in-out 200ms;
	transition: all 150ms ease-in-out 200ms;
}
.portfolio .gallery .item-img .part-img .overlay-img:before {
	content: '';
	position: absolute;
	right: -100%;
	bottom: 0;
	width: 100%;
	height: 50%;
	background: rgba(0, 0, 0, 0.8);
	-webkit-transition: all 150ms ease-in-out 200ms;
	transition: all 150ms ease-in-out 200ms;
}
.portfolio .gallery .item-img .part-img .overlay-img a {
	width: 100%;
	height: 100%;
}
.portfolio .gallery .item-img .part-img .overlay-img h4 {
	color: transparent;
	overflow: hidden;
	position: absolute;
	top: 54px;
	right: 25px;
	z-index: 2;
	font-size: 18px;
	-webkit-transition: color 150ms ease-in-out 200ms;
	transition: color 150ms ease-in-out 200ms;
	text-align: center;
	padding: 0 10px;
}
.portfolio .gallery .item-img .part-img .overlay-img h4:before {
	content: '';
	background: #fff;
	bottom: 0;
	position: absolute;
	right: 100%;
	top: 0;
	width: 100%;
	-webkit-transition: right 600ms ease-in-out 0s;
	transition: right 600ms ease-in-out 0s;
}
.portfolio .gallery .item-img .part-img .overlay-img h6 {
	color: transparent;
	overflow: hidden;
	position: absolute;
	top: 30px;
	right: 25px;
	z-index: 2;
	font-size: 18px;
	-webkit-transition: color 150ms ease-in-out 200ms;
	transition: color 150ms ease-in-out 200ms;
	text-align: center;
	padding: 0 10px;
}
.portfolio .gallery .item-img .part-img .overlay-img h6::before {
	content: '';
	background: #fff;
	bottom: 0;
	right: auto;
	position: absolute;
	left: 100%;
	top: 0;
	width: 100%;
	-webkit-transition: left 600ms ease-in-out 0s;
	transition: left 600ms ease-in-out 0s;
}
.portfolio .gallery .item-img:hover img {
	-webkit-transform: scale(1.04);
	transform: scale(1.04);
}
.portfolio .gallery .item-img:hover .overlay-img:after {
	left: 0;
	-webkit-transition: all .8s;
	transition: all .8s;
	opacity: 1;
}
.portfolio .gallery .item-img:hover .overlay-img:before {
	right: 0;
	width: 100%;
	height: 50%;
	-webkit-transition: all .8s;
	transition: all .8s;
	opacity: 1;
}
.portfolio .gallery .item-img:hover .overlay-img h4 {
	color: white;
}
.portfolio .gallery .item-img:hover .overlay-img h4:before {
	right: -100%;
}
.portfolio .gallery .item-img:hover .overlay-img h6 {
	color: white;
}
.portfolio .gallery .item-img:hover .overlay-img h6:before {
	left: -100%;
}
.portfolio-style2 .filtering {
	border: 1px solid #e1e1e1;
}
.portfolio-style2 .filtering .active {
	background-color: #1c1c1c;
}
.testimonials {
	background:url(images/bg1.jpg) no-repeat 0% 0% / 100% 100%;
	width:100%;
}
.testimonials-overlay {
	background: rgba(0,0,0,0.9);
}
.testimonials .testimonial-item p {
	max-width: 700px;
	color: #ffffff;
	margin-bottom: 30px !important;
}
.testimonials .icon i {
	color: #21779C;
	font-size: 47px;
	margin-bottom: 25px;
}
.testimonials h5 {
	color:#099278;
}
.testimonials h6 {
	color: #ffffff;
	margin-bottom: 10px !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #21779C !important;
}
.info-box {
	position:relative;
	padding-bottom:30px;
}
.info-box .icon {
	display:inline-block;
	width: 30px;
}
.info-box .icon i {
	font-size: 20px;
	color: #21779C;
}
.info-box .content {
	display:inline-block;
	margin-left:10px;
}
.info-box .content h4 {
	font-size: 20px;
}
.contact-form input, .contact-form textarea {
	border: 1px solid #ced4da;
	background-color: #fff;
	    background-clip: padding-box;
		    padding: .375rem .75rem;
		    padding: .375rem .75rem;
	margin-bottom: 20px;
	font-size: 14px;
	height:48px;
	width:100%;
}
.sign-up {
	margin-bottom: 20px;
}
.sign-up h5 {
	padding: 0px 15px 15px 15px;
	margin-bottom: 5px;
}
.sign-up p {
	text-align:center;
	font-size: 12px;
}
.social-icons {

}
.social-icons .icon i {
	padding: 30px;
	font-size: 50px;
	color: #21779c;
}
.social-icons .icon i:hover{
	font-size: 50px;
	color: #099278;
}

.bttn {
	position: relative;
	cursor: pointer;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: #21779C;
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 30px;
	margin-top: 30px;
	border: none;
}
.footer-copy {
	background: #242424;
	color: #ffffff;
	font-size: 13px;
	text-align: center;
	padding:7px 0px;
}
@media all and (max-width:991px) {

.navbar .navbar-collapse {
	overflow: auto;
	background: rgba(0, 0, 0, 0.72);
	color: #fff !important;
	text-align: center;
	padding: 10px 0;
}
.nav-scroll .navbar-collapse {
	background: #fff !important;
}
.nav-last {
	padding-right: 0px !important;
}

.banner-btn {
	display:none;
}

.banner-btn-mobile {
	display: inline-block;
	background: #21779C;
	color: #ffffff !important;
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 30px;
	margin-top: 30px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

}
@media all and (max-width:768px) {
.nav-scroll .navbar-brand img, .navbar-brand img{
	transform: scale(0.75) !important;
	-webkit-transform: scale(0.75) !important;
}
.nav-last {
	padding-right: 0px !important;
}
.banner h1 {
	font-size: 30px;
}
.section-title p {
	width: 100%;
}
.section-title h3 {
	margin-bottom: 12px;
	font-size: 25px;
}
.section-padding {
	padding: 40px 0px;
}
.section-title {
	padding-bottom: 40px;
}
.portfolio .filtering {
	border:none;
}
.portfolio .filtering .active {
	border-radius: 0px;
}
.portfolio .filtering button {
	font-size: 10px;
	padding: 10px 15px;
}
.banner-overlay {
	padding: 150px 0px 100px;
}
.banner-btn {
	display:none;
}

.banner-btn-mobile {
	display: inline-block;
	background: #21779C;
	color: #ffffff !important;
	padding: 12px 45px;
	font-size: 15px;
	border-radius: 30px;
	margin-top: 30px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

	.calendar p {
		display: inherit;
		text-align: center;
	}
	.calendar iframe {
		display: none;
	}
	.subscribe-btn {
		padding: 12px 12px;
	}
.social-icons {
	padding: 15px;
		margin:auto;
	}
	.social-icons .icon i {
		padding: 15px;
		font-size: 40px;
		color: #21779c;
	}
	.social-icons .icon i:hover{
		font-size: 20px;
		color: #099278;
	}

}
